<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clockIT - Gestor de Horários</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Gestor de Horários</h1>
            <h2>clockIT</h2>
        </header>
        
        <main>
            <div id="calculator" class="tab-content active">
                <form id="timeForm">
                    <div class="input-group">
                        <label for="clockIn">Horário de Entrada:</label>
                        <input type="text" id="clockIn" required step="60" min="00:00" max="23:59">
                    </div>
                    
                    <div class="input-group">
                        <label for="intervalStart">Início do Intervalo:</label>
                        <input type="text" id="intervalStart" required step="60" min="00:00" max="23:59">
                    </div>
                    
                    <div class="input-group">
                        <label for="intervalEnd">Fim do Intervalo:</label>
                        <input type="text" id="intervalEnd" required step="60" min="00:00" max="23:59">
                    </div>
                    
                    <button type="submit">Calcular Horário de Saída</button>
                </form>
            </div>
        </main>
    </div>
    
    <script src="script.js"></script>

    <div id="resultModal" class="modal hidden">
        <div class="modal-content">
            <span id="closeModal" class="close-button">&times;</span>
            <h3>Resultado</h3>
            <p>Horário de saída: <span id="clockOutTime" class="highlight"></span></p>
            <p>Total de horas trabalhadas: <span id="totalHours" class="highlight"></span></p>
        </div>
    </div>


</body>
</html>